{{extend 'layout.html'}}
<h4>Company Profile</h4>

<p align="justify"> The Darwish Group &#8211; a large established group with
  a reputation for quality, reliability and overall excellence, has been instrumental
  in the country&#8217;s commercial development. The activities of the group
  can be traced back to over 70 years, originally providing services as a local
  agent, supplying labour, accommodation, communication, transportation and other
  services to premier oil and mining exploration companies in Qatar.<br>
  Today the Darwish Group is a multifaceted organization incorporating a number
  of divisions which serve the rapidly expanding business market in Qatar.<br>
  <br>
  <b>General Trading as exclusive agent for International Companies</b><br>
  <br>
Building materials, electrical trading &amp; system, air-conditioning ventilation
and refrigeration products, medical &amp; laboratory equipment, lighting products,
petroleum &amp; Industrial services, communication security systems and imaging,
computers, office equipment &amp; furniture, domestic appliances, automobiles
construction heavy equipment, tyres and batteries transportation &amp; clearance
services.</p>
<div align="justify">
  <ul>
      <li> Construction : Main civil contracting, Decoration contracting Mechanical &amp; Electrical
              contracting Elevators &amp; Escalators.</li>
      <li>Travel &amp; Tourism : Airlines,
                GSA, Cargo, Tour operations.</li>
      <li>Hotels : Hotel management (Oasis Hotel &amp; Beach
                  Club) and catering.</li>
      <li>Real Estate Development.<br>
      </li>
  </ul>

