{{extend 'layout.html'}}
<div class="row">
    <div class="col-lg-12">
        <div class="view-header">
            <div class="header-icon">
                <span class="glyphicon glyphicon-user"></span>
            </div>
            <div class="header-title">
                <h3>Controller</h3>
                <small>
                    View assigned vehicle controller.
                </small>
            </div>
        </div>
        <hr>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Vehicle Info.</h3>
    </div>
    <div class="panel-body">
        {{=LOAD('default', 'CompanyInfo.load', content='Now loading...', args = request.args(0))}}
    </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Details</h3>
  </div>
  <div class="panel-body">
  {{=i}}
  </div>
</div>



