{{extend 'layout.html'}}

<div class="page-header">
    <h1>Fleet Advertisement<small><i class="ace-icon fa fa-angle-double-right"></i> a data update for fleet advertisement.</small></h1>
</div>
<div class="flash">{{=response.flash or ''}}</div>
<div class="hr hr8 hr-single hr-dotted"></div>

<div class="widget-box">
  <div class="widget-header"><h4 class="widget-title">Fleet Advertisement Form</h4></div>
  <div class="widget-body">
    <div class="widget-main">
        {{=form}}        
      </div>
  </div>
</div>
 