{{extend 'layout.html'}} 
<div class="page-header">
    <h1>Hand Over Form<small><i class="ace-icon fa fa-angle-double-right"></i> a data entry for the hand over vehicle.</small></h1>
</div>
<div class="flash">{{=response.flash or ''}}</div>

<div class="hr hr8 hr-single hr-dotted"></div>
{{=form.custom.begin}}
<div class="widget-box">
  <div class="widget-header">
    <h4 class="widget-title">Hand Over Form</h4>
    <div class="widget-toolbar">
    <a href="#" data-action="collapse">
        <i class="ace-icon fa fa-chevron-up"></i>
    </a>
    </div>
  </div>
  <div class="widget-body">
  <div class="widget-main">
    <div class='row'>
        <div class='col-md-3'>
            <div class='form-group'>
                <label>Reg.No</label>
                {{=form.custom.widget.reg_no_id}}
            </div>
        </div>
        <div class='col-md-3'>
            <div class='form-group'>
                <label>Date and Time</label>
                {{=form.custom.widget.date_and_time}}
            </div>
        </div>
        <div class='col-md-3'>
            <div class='form-group'>
                <label>Mileage</label>
                {{=form.custom.widget.mileage}}
            </div>
        </div>
        <div class='col-md-3'>
            <div class='form-group'>
                <label>Accessories</label>
                {{=form.custom.widget.vehicles_acc}}
            </div>
        </div>
    </div>

    <div class='row'>
        <div class='col-md-3'>
            <div class='form-group'>
                <label>From Department</label>
                {{=form.custom.widget.from_department_id}}
            </div>
        </div>
        <div class='col-md-3'>
            <div class='form-group'>
                <label>To Department</label>
                {{=form.custom.widget.to_department_id}}
            </div>
        </div>
        <div class='col-md-3'>
            <div class='form-group'>
                <label>From Driver</label>
                {{=form.custom.widget.from_driver_id}}
            </div>
        </div>
        <div class='col-md-3'>
            <div class='form-group'>
                <label>To Driver</label>
                {{=form.custom.widget.to_driver_id}}
            </div>
        </div>
    </div>

    <div class='row'>
        <div class='col-md-3'>
            <div class='form-group'>
                <label>Remarks</label>
                {{=form.custom.widget.remarks}}
            </div>
        </div>
    </div>
    {{=form.custom.submit}}
    {{=form.custom.end}}
  </div>
  </div>
</div>
