{{extend 'layout.html'}} 
<div class="row">
    <div class="col-lg-12">
        <div class="view-header">
            <div class="header-icon">
                <span class="glyphicon glyphicon-plus"></span>
            </div>
            <div class="header-title">
                <h3>Insurance</h3>
                <small>
                    View vehicle insurance.
                </small>
            </div>
        </div>
        <hr>
    </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Vehicle Info.</h3>
  </div>
  <div class="panel-body">
   
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Details</h3>
  </div>
  	<div class="panel-body">
		{{=details}}  
	</div>
</div>



