{{extend 'layout.html'}}


{{=table}}

<style>
.table-borderless tbody tr td, .table-borderless tbody tr th, .table-borderless thead tr th {
    border: none;
    padding:5px;
}

.btmborder {
  padding:5px;
  border-bottom: 1px solid #B3B3B3; 
}

.tblhead {
  padding:5px;
  background-color: #B3B3B3;
}

.lftborder {
  padding:5px;
  border-left: 1px solid #B3B3B3;
}

.rtborder {
  padding:5px;
  border-right: 1px solid #B3B3B3;

}

.topborder {
  padding:5px;
  border-top: 1px solid #B3B3B3;

}
</style>